* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 14px;
  line-height: 22px;
  font-family: "Poppins", sans-serif;
}

body .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}

body textarea {
  border-color: #ccc;
}

body textarea:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
  outline: none;
}

body a {
  color: black;
}

body a:hover {
  text-decoration: none;
  color: #41ac48;
}

body a:focus {
  outline: none;
}

body p {
  text-align: justify;
  line-height: 28px;
  color: black;
  font-size: 14px;
  margin: 0;
}

body ul {
  margin: 0;
  padding: 0;
}

body ul li {
  list-style-type: none;
}

body button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

body button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

body input .btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus {
  outline: none;
}

.no-pad {
  padding: 0;
}

.sec-padding {
  padding: 80px 0;
}

.sec-background {
  background-color: white;
}

.sec-title {
  margin-bottom: 50px;
}

.sec-title span {
  color: #7c201c;
  font-size: 16px;
}

.sec-title h2 {
  margin-top: 10px;
}

.sec-title h2 strong {
  font-weight: 700;
  color: #222;
}

i.fa.fa-phone {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#myTopbtn {
  display: none;
  position: fixed;
  bottom: 16px;
  right: 25px;
  z-index: 99;
  font-size: 26px;
  border: none;
  outline: none;
  color: white;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 9px 0px #00000063;
          box-shadow: 0px 0px 9px 0px #00000063;
  background: #049343;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  opacity: 0.7;
}

#myTopbtn:hover {
  opacity: 1;
  cursor: pointer;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0 0 5px 0 #dcdcdc;
          box-shadow: 0 0 5px 0 #dcdcdc;
}

.header-top {
  background-color: #222;
  padding: 6px 0;
}

.header-top-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.htl-translate select {
  background: transparent;
  border: none;
  color: white;
}

.htl-translate select option {
  background: #222;
}

.htl-date {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.htl-date img {
  height: 18px;
}

.htl-date p {
  margin-left: 8px;
  color: white;
}

.htr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top-right ul li {
  padding: 0 12px;
}

.header-top-right ul li i {
  color: white;
}

.htr-menu {
  margin-right: 15px;
}

.htr-menu li a {
  color: white;
  font-size: 12px;
}

.htr-menu li:not(:last-child) {
  border-right: 1px solid #5a5a5a;
}

.main-logo img {
  height: 80px;
}

.hmr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-mid-right ul li {
  text-align: left;
  margin-left: 15px;
  margin-right: 0;
  display: inline-block;
  min-width: 150px;
}

.header-mid-right ul li i {
  width: 32px;
  height: 32px;
  display: inline-block;
  border: 2px solid #049343;
  color: #049343;
  line-height: 28px;
  text-align: center;
  font-size: 16px;
}

.header-mid-right ul li span {
  display: inline-block;
  vertical-align: middle;
  line-height: 18px;
  margin-left: 10px;
  opacity: 0.6;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header-mid-right ul li span small {
  display: table;
  width: 100%;
  color: black;
  font-size: 12px;
  font-style: normal;
}

.header-bottom {
  background-color: #049343;
}

.header-bottom .bg-light {
  background-color: #049343 !important;
}

.header-bottom .nav-item {
  padding: 0 4px;
}

.header-bottom .nav-link {
  color: white !important;
}

.hbb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-bottom-buttons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-bottom-buttons ul li {
  position: relative;
  margin: 0 15px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.header-bottom-buttons ul li i {
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.header-bottom-buttons .search-box {
  background: #e8e8e4;
  position: absolute;
  top: 40px;
  right: -15px;
  width: 300px;
  height: 60px;
  padding: 10px 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-top: 4px solid #7c201c;
  display: none;
  z-index: 100;
}

.header-bottom-buttons .search-box:before {
  content: "";
  position: absolute;
  top: -32px;
  right: 13px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 14px solid transparent;
  border-bottom: 14px solid #7c201c;
}

.header-bottom-buttons .search-box input[type="text"] {
  width: 190px;
  padding: 5px 10px;
  margin-left: 10px;
  border: 1px solid #7c201c;
  outline: none;
}

.header-bottom-buttons .search-box input[type="button"] {
  width: 93px;
  padding: 5px 0;
  background: #7c201c;
  color: #fff;
  margin-left: -6px;
  border: 1px solid #7c201c;
  outline: none;
  cursor: pointer;
}

.main-banner-single {
  height: calc(100vh - 174px);
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
  position: relative;
  z-index: 1;
}

.main-banner-single:focus {
  outline: none;
}

.main-banner-single:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #270000a1;
  z-index: -1;
}

.main-banner-text {
  z-index: 2;
  color: white;
  text-align: center;
  padding: 0 50px;
}

.main-banner-text span {
  text-transform: uppercase;
  font-size: 20px;
}

.main-banner-text h2 {
  font-weight: 600;
  font-size: 70px;
  line-height: 75px;
  text-transform: uppercase;
  margin: 25px 0;
  letter-spacing: -2px;
}

.main-banner-text p {
  color: white;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  padding: 0 130px;
  margin-bottom: 10px;
}

.main-banner-text a {
  cursor: pointer;
  font-style: normal;
  color: black;
  border: 2px solid #049343;
  background-color: transparent;
  line-height: 14px;
  padding: 12px 28px;
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  margin-top: 25px;
}

.main-banner-text a:hover {
  color: white;
  border-color: #049343;
  background: #049343;
}

.main-banner-text .mbt-one {
  margin-right: 10px;
  border-color: white;
  color: white;
}

.main-banner-text .mbt-two {
  background-color: #049343;
  border-color: #049343;
  color: white;
}

.main-banner-text .mbt-two:hover {
  background-color: #049343;
  border-color: #049343;
}

.main-message-inner {
  padding: 0 80px;
}

.main-message-inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 100px;
}

.main-message-inner ul li {
  min-width: 200px;
}

.main-message-inner .nav-pills .nav-link {
  border-radius: 0.25rem;
  opacity: 0.7;
}

.main-message-inner .nav-pills .nav-link.active,
.main-message-inner .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #f3f3f3;
  position: relative;
  opacity: 1;
}

.main-message-inner .nav-pills .nav-link.active:before,
.main-message-inner .nav-pills .show > .nav-link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #f3f3f3;
  left: 55px;
  bottom: -15px;
}

.main-message-inner .nav-pills .nav-link.active h4,
.main-message-inner .nav-pills .nav-link.active span,
.main-message-inner .nav-pills .show > .nav-link h4,
.main-message-inner .nav-pills .show > .nav-link span {
  opacity: 1;
}

.mmi-author {
  text-align: center;
}

.mmi-author img {
  height: 100px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid transparent;
  border-radius: 50%;
}

.mmi-author h4 {
  font-size: 15px;
  margin: 10px 0 5px;
  color: #222;
  opacity: 0;
}

.mmi-author span {
  color: #049343;
  opacity: 0;
}

.mmi-text {
  background-color: #f3f3f3;
  padding: 30px 50px;
}

.mmi-text p {
  font-style: italic;
  position: relative;
  line-height: 32px;
}

.mmi-text p::before {
  content: "\f10d";
  font-size: 25px;
  color: #7c201c;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  position: absolute;
  left: -35px;
  top: -15px;
}

.mmi-text p:after {
  content: "\f10e";
  font-size: 25px;
  color: #7c201c;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  position: absolute;
  right: -35px;
  bottom: -15px;
}

.main-get-touch {
  background-attachment: fixed;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
  position: relative;
  z-index: 1;
}

.main-get-touch:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #630000c4;
  z-index: -1;
}

.main-get-touch-text p {
  font-size: 32px;
  line-height: 36px;
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
}

.main-get-touch-text p span {
  color: #049343;
  font-weight: 600;
}

.main-get-touch-text a {
  cursor: pointer;
  font-style: normal;
  color: black;
  border: 2px solid #049343;
  background-color: transparent;
  line-height: 14px;
  padding: 12px 28px;
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  margin-top: 25px;
  background-color: #049343;
  color: white;
}

.main-get-touch-text a:hover {
  color: white;
  border-color: #049343;
  background: #049343;
}

.main-services {
  background: #f8f8f8;
}

.main-services .sec-title {
  text-align: center;
}

.main-services-content .nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-services-content .nav-item {
  margin-right: 7px;
}

.main-services-content .nav-pills .nav-link.active {
  background-color: #7c201c;
}

.main-services-content .nav-pills .nav-link {
  border-radius: 0;
  padding: 10px 30px;
  background-color: #049343;
  font-weight: 600;
  color: white;
}

.main-services-content .tab-content {
  margin-top: 60px;
}

.main-services-content-single {
  margin: 15px 0;
}

.main-services-content-single .mscs-img {
  position: relative;
}

.main-services-content-single .mscs-img img {
  height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-services-content-single .mscs-img:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #27000061;
  content: "";
}

.main-services-content-single .mscs-text {
  background: #049343;
  padding: 20px;
  text-align: center;
  min-height: 112px;
}

.main-services-content-single .mscs-text h4 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.main-services-content-single .mscs-text h4 a {
  color: white;
}

.main-services-content-single .mscs-text span {
  font-size: 12px;
  text-transform: uppercase;
}

.main-services-content-single .mscs-text span a {
  color: white;
}

.main-services-content-single .mscs-text span a i {
  font-size: 13px;
  margin-right: 5px;
}

.main-counter {
  background-color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-counter-single {
  text-align: center;
}

.main-counter-single i {
  font-size: 38px;
  color: #049343;
  display: block;
  margin-bottom: 15px;
}

.main-counter-single h2 {
  font-size: 46px;
  color: #fff;
  font-weight: 600;
  line-height: 46px;
}

.main-counter-single h3 {
  font-size: 16px;
  color: #bababa;
  line-height: 30px;
}

.main-counter-single .years::after,
.main-counter-single .users:after {
  content: "+";
}

.main-counter-single .money::after {
  content: "K";
}

.main-features-slider {
  position: relative;
}

.main-features-slider .slick-arrow {
  position: absolute;
  top: -85px;
  font-size: 18px;
  z-index: 99;
  color: white;
  display: inline-block;
  height: 34px;
  width: 34px;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  background-color: #7c201c;
}

.main-features-slider i.fas.fa-angle-left.slick-arrow {
  right: 65px;
}

.main-features-slider i.fas.fa-angle-left.slick-arrow::after {
  width: 0;
  height: 0;
  border-top: 34px solid #7c201c;
  border-right: 4px solid transparent;
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.main-features-slider i.fas.fa-angle-right.slick-arrow {
  right: 20px;
}

.main-features-slider i.fas.fa-angle-right.slick-arrow::after {
  width: 0;
  height: 0;
  border-bottom: 34px solid #7c201c;
  border-left: 4px solid transparent;
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.main-features-single {
  text-align: center;
}

.main-features-single span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  position: relative;
  background-color: #c1c1c11c;
  border: 2px solid transparent;
}

.main-features-single span img {
  height: 90px;
}

.main-features-single p {
  text-align: center;
  color: #212121;
  font-size: 17px;
  font-weight: 500;
}

.main-features-single:focus {
  outline: none;
}

.main-why-choose {
  background: #f3f3f3;
}

.main-why-choose .sec-title {
  text-align: center;
}

.main-why-choose-left {
  position: relative;
}

.mwcl-img {
  position: relative;
}

.mwcl-img:after {
  position: absolute;
  top: 55px;
  left: 60px;
  content: "";
  border: 10px solid #ffffff47;
  width: 310px;
  height: 613px;
}

.mwcli-single {
  position: relative;
  margin-bottom: 30px;
}

.mwcli-single img {
  width: 80%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mwcli-single .mwcl-overlay {
  position: absolute;
  left: 0;
  right: 107px;
  top: 0;
  bottom: 0;
  background-color: #270000a1;
}

.mwcl-deco {
  display: block;
  background: #049343;
  border: 10px solid #fff;
  color: #fff;
  font-size: 32px;
  padding: 45px 65px;
  position: absolute;
  top: 50%;
  width: auto;
  line-height: 44px;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.mwcl-deco p {
  color: #fff;
  font-size: 30px;
  line-height: 44px;
}

.mwcr-text h3 {
  margin-bottom: 15px;
}

.mwcr-text p {
  font-size: 13px;
  line-height: 25px;
  color: #727272;
  font-weight: 300;
  margin-bottom: 35px;
}

.mwcr-item {
  margin-bottom: 35px;
  text-align: center;
}

.mwcr-item:hover span i {
  color: #fff;
  background: #7c201c;
}

.mwcr-item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mwcr-item span i {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 32px;
  color: #7c201c;
  display: block;
  width: 83px;
  height: 83px;
  line-height: 80px;
  border: 2px solid #7c201c;
  border-radius: 50%;
  text-align: center;
}

.mwcr-item h4 {
  margin: 25px 0 7px;
}

.mwcr-item p {
  text-align: center;
}

.mwcr-item p strong {
  font-weight: 800;
  font-size: 14px;
}

.main-gallery .mgm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-gallery .mgm a {
  margin-top: 0 !important;
  cursor: pointer;
  font-style: normal;
  color: black;
  border: 2px solid #049343;
  background-color: transparent;
  line-height: 14px;
  padding: 12px 28px;
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  margin-top: 25px;
  font-weight: 400;
}

.main-gallery .mgm a:hover {
  color: white;
  border-color: #049343;
  background: #049343;
}

.main-gallery #demo {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.main-gallery .thumb {
  position: relative;
  cursor: pointer;
  padding: 0 10px;
}

.main-gallery .thumb::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 10px;
  background-color: #27000042;
}

.main-gallery .thumb:hover .zoom-icon {
  visibility: visible;
  opacity: 1;
}

.main-gallery .thumb:hover .overlay {
  visibility: visible;
}

.main-gallery img.zoom {
  width: 100%;
  height: 250px;
  border-radius: 2px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-gallery .modal-header {
  border-bottom: none;
}

.main-gallery .modal-footer {
  display: none;
}

.main-gallery .zoom-icon {
  position: absolute;
  bottom: auto;
  left: 50%;
  margin: 0;
  max-width: 90%;
  padding: 0;
  right: auto;
  top: 50%;
  z-index: 78;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  font-size: 30px;
  text-align: center;
  color: white;
}

.main-gallery .overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 10px;
  bottom: 0;
  background-color: #27000069;
  visibility: hidden;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.thumb-right img.zoom {
  width: 100%;
  height: 505px;
}

.t-small-1 {
  padding: 0 5px 0 10px !important;
  margin-top: 5px;
}

.t-small-1::before {
  margin: 0 5px 0 10px !important;
}

.t-small-1 .overlay {
  margin: 0 5px 0 10px;
}

.t-small-2 {
  padding: 0 10px 0 0 !important;
  margin-top: 5px;
}

.t-small-2::before {
  margin: 0 10px 0 0px !important;
}

.t-small-2 .overlay {
  margin: 0 10px 0 0;
}

.mqf-faq {
  background-color: #f3f3f3;
  padding: 0 40px 0 150px;
}

.mqf-emi {
  background-color: #f9f9f9;
  padding: 0 150px 0 60px;
}

.main-faq .choose-collapsible {
  width: 100%;
  text-align: start;
  font-weight: 600;
  color: #000;
  padding: 20px 20px 20px 40px;
  text-transform: capitalize;
  letter-spacing: 0;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 0px 13px 0px #d4d4d4b8;
          box-shadow: 0px 0px 13px 0px #d4d4d4b8;
  background-color: white;
  border: none;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  cursor: pointer;
  position: relative;
}

.main-faq .choose-active {
  background-color: #049343;
  color: white;
  -webkit-transition: linear 0.3s;
  transition: linear 0.3s;
}

.main-faq .choose-collapsible:before {
  content: "\f055";
  position: absolute;
  color: black;
  font-weight: bold;
  float: right;
  margin-right: 5px;
  font-family: "Font Awesome 5 Free";
  font-size: 18px;
  left: 10px;
}

.main-faq .choose-active:before {
  content: "\f056";
  color: white;
}

.main-faq .content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.main-faq li {
  padding: 10px 0;
}

.main-faq li i {
  padding-right: 7px;
}

.main-emi-form {
  margin-top: 30px;
}

.main-emi-form .form-group {
  text-align: left;
  margin-bottom: 1.5rem;
}

.main-emi-form .form-control {
  border: 0 !important;
}

.main-emi-form label {
  font-weight: 600;
  text-align: left;
}

.main-emi-form .half-wid-group {
  display: inline-block;
  width: 47%;
}

.main-emi-form .hwg-left {
  margin-right: 26px;
}

.main-emi-form .button-holder-cnt input {
  cursor: pointer;
  font-style: normal;
  color: black;
  border: 2px solid #049343;
  background-color: transparent;
  line-height: 14px;
  padding: 12px 28px;
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  margin-top: 25px;
  background-color: #049343;
  color: white;
  margin-top: 0;
}

.main-emi-form .button-holder-cnt input:hover {
  color: white;
  border-color: #049343;
  background: #049343;
}

.main-emi-form .emir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-emi-form .emir .result-title {
  font-size: 17px;
  font-weight: 600;
}

.main-emi-form .emir .result-value {
  font-size: 19px;
  color: #7c201c;
  font-weight: 400;
}

.main-emi-form .emir .result-value::before {
  content: ":";
  margin-right: 3px;
  color: black;
}

.main-testimonials {
  position: relative;
}

.main-testimonials .slick-dots {
  position: absolute;
  bottom: -70px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.main-testimonials .slick-dots li button::before {
  font-size: 0;
}

.main-testimonials li.slick-active button {
  background: #049343 !important;
  width: 15px !important;
  height: 15px !important;
}

.main-testimonials .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 12px;
  height: 12px;
  padding: 3px;
  cursor: pointer;
  color: white;
  border: 1px solid;
  border-radius: 8px;
  outline: none;
  background: #00000085;
}

.main-testimonials .slick-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.mte-test {
  background-color: #f3f3f3;
  padding: 0 40px 0 150px;
}

.main-testimonials-single {
  padding: 0 10px;
}

.main-testimonials-single:focus {
  outline: none;
}

.mts-text {
  background-color: white;
  padding: 15px 25px;
  margin-bottom: 30px;
  border-radius: 5px;
  position: relative;
}

.mts-text:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
  bottom: -20px;
  left: 47px;
}

.mts-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

.mts-author img {
  height: 90px;
  width: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1px solid transparent;
  border-radius: 50%;
}

.mts-author h4 {
  margin-left: 20px;
  font-size: 18px;
  position: relative;
  padding-left: 15px;
  color: #049343;
}

.mts-author h4 span {
  font-size: 14px;
  margin-left: 5px;
  color: black;
}

.mts-author h4:before {
  content: "";
  position: absolute;
  height: 2px;
  left: -5px;
  width: 15px;
  background-color: black;
  top: 10px;
}

.mte-eve {
  background-color: #f9f9f9;
  padding: 0 150px 0 40px;
}

.main-events-inner-single {
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-events-inner-single .event-date {
  background: #7c201c;
  margin-right: 15px;
  width: 14%;
}

.main-events-inner-single .event-date h3 {
  font-size: 28px;
  line-height: 32px;
  padding: 11px 15px 11px;
  text-align: center;
}

.main-events-inner-single .event-date h3 a {
  color: white;
}

.main-events-inner-single .event-date h3 span {
  font-size: 16px;
  text-transform: uppercase;
  display: block;
}

.main-events-inner-single .event-content {
  overflow: hidden;
  padding: 18px 0 20px;
  width: 65%;
}

.main-events-inner-single .event-content h4 {
  font-size: 16px;
  color: #303030;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.main-events-inner-single .event-content li {
  display: inline-block;
  margin-right: 15px;
  font-size: 14px;
  color: #606060;
}

.main-events-inner-single .event-content li i {
  margin-right: 5px;
}

.main-events-inner-single .event-join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-events-inner-single .event-join a {
  font-size: 12px;
  border: 2px solid #049343;
  font-weight: 600;
  padding: 10px;
  text-transform: uppercase;
  color: #049343;
}

.main-news-slider {
  position: relative;
}

.main-news-slider .slick-arrow {
  position: absolute;
  top: -85px;
  font-size: 18px;
  z-index: 99;
  color: white;
  display: inline-block;
  height: 34px;
  width: 34px;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  background-color: #7c201c;
}

.main-news-slider i.fas.fa-angle-left.slick-arrow {
  right: 65px;
}

.main-news-slider i.fas.fa-angle-left.slick-arrow::after {
  width: 0;
  height: 0;
  border-top: 34px solid #7c201c;
  border-right: 4px solid transparent;
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.main-news-slider i.fas.fa-angle-right.slick-arrow {
  right: 20px;
}

.main-news-slider i.fas.fa-angle-right.slick-arrow::after {
  width: 0;
  height: 0;
  border-bottom: 34px solid #7c201c;
  border-left: 4px solid transparent;
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.main-news-single {
  padding: 0 10px;
}

.main-news-single:focus {
  outline: none;
}

.mns-img img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mns-text {
  background-color: #049343;
  color: white;
  padding: 10px 20px;
}

.mns-text h4 a {
  color: white;
  font-size: 18px;
}

.mnst-meta {
  margin-top: 20px;
}

.mnst-meta ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mnst-meta ul li {
  font-size: 13px;
}

.mnst-meta ul li i {
  margin-right: 3px;
}

.main-branches {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding-bottom: 100px;
  z-index: 1;
}

.main-branches:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #270000e0;
  z-index: -1;
}

.main-branches .sec-title {
  text-align: left;
}

.main-branches .sec-title span {
  color: #049343;
}

.main-branches .sec-title h2 {
  color: white;
}

.main-branches .sec-title h2 strong {
  color: white;
}

.main-branches .slick-dots {
  position: absolute;
  bottom: -70px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.main-branches .slick-dots li button::before {
  font-size: 0;
}

.main-branches li.slick-active button {
  background: #049343 !important;
  height: 15px !important;
  width: 15px !important;
}

.main-branches .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 12px;
  height: 12px;
  padding: 3px;
  cursor: pointer;
  color: #0080000d;
  border: 1px solid;
  border-radius: 8px;
  outline: none;
  background: #ececec;
}

.main-branches .slick-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.main-branches-slider {
  position: relative;
}

.main-branches-slider .slick-arrow {
  position: absolute;
  top: -85px;
  font-size: 18px;
  z-index: 99;
  color: white;
  display: inline-block;
  height: 34px;
  width: 34px;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  background-color: #049343;
}

.main-branches-slider i.fas.fa-angle-left.slick-arrow {
  right: 65px;
}

.main-branches-slider i.fas.fa-angle-left.slick-arrow::after {
  width: 0;
  height: 0;
  border-top: 34px solid #049343;
  border-right: 4px solid transparent;
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.main-branches-slider i.fas.fa-angle-right.slick-arrow {
  right: 20px;
}

.main-branches-slider i.fas.fa-angle-right.slick-arrow::after {
  width: 0;
  height: 0;
  border-bottom: 34px solid #049343;
  border-left: 4px solid transparent;
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.main-branches-single {
  margin: 0 15px;
  background-color: white;
  min-height: 218px;
}

.main-branches-single h3 {
  background-color: #049343;
  color: white;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 60px;
  font-size: 21px;
}

.main-branches-single ul {
  text-align: left;
  padding: 25px 5px 15px 10px;
}

.main-branches-single ul li {
  padding-left: 20px;
  position: relative;
  padding-bottom: 10px;
}

.main-branches-single ul li i {
  position: absolute;
  left: 0;
  top: 5px;
  color: #049343;
}

.main-branches-single:focus {
  outline: none;
}

.main-socials {
  padding: 60px 0;
}

.main-socials-inner {
  text-align: center;
  padding: 0 200px;
}

.main-socials-inner img {
  height: 80px;
  width: 250px;
}

.main-socials-inner p {
  font-size: 13px;
  color: #727272;
  line-height: 24px;
  margin: 30px 0;
  text-align: center;
}

.main-socials-inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-socials-inner ul li {
  padding: 0 5px;
}

.main-socials-inner ul li a {
  display: block;
  margin-right: 5px;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 16px;
  background: #f5f8f9;
  color: #222;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.main-socials-inner ul li a:hover {
  color: white;
}

.main-socials-inner ul li a.fb:hover {
  background: #3b5998;
}

.main-socials-inner ul li a.tw:hover {
  background: #00aced;
}

.main-socials-inner ul li a.ig:hover {
  background: #cc377b;
}

.main-socials-inner ul li a.ld:hover {
  background: #007bb6;
}

.main-socials-inner ul li a.gp:hover {
  background: #dd4b39;
}

.footer-top {
  background-color: #1a1a1a;
  padding: 55px;
}

.ft-single p,
.ft-single li,
.ft-single a {
  color: #bababa;
}

.ft-single h4 {
  color: white;
  line-height: 1.4;
  position: relative;
  padding-bottom: 6px;
  margin-bottom: 30px;
  font-size: 18px;
  text-align: left;
}

.ft-single h4:after {
  content: "";
  position: absolute;
  width: 26px;
  height: 3px;
  background-color: #049343;
  left: 0;
  bottom: 0;
}

.footer-about {
  text-align: left;
}

.footer-about img {
  height: 70px;
}

.footer-about p {
  color: #bababa;
  line-height: 28px;
  margin-top: 20px;
}

.footer-about a {
  cursor: pointer;
  font-style: normal;
  color: black;
  border: 2px solid #049343;
  background-color: transparent;
  line-height: 14px;
  padding: 12px 28px;
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  margin-top: 25px;
  background-color: #049343;
  color: white;
  padding: 10px 15px;
  font-size: 14px;
}

.footer-about a:hover {
  color: white;
  border-color: #049343;
  background: #049343;
}

.footer-hours table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
  font-size: 13px;
}

.footer-hours .fh-left {
  color: #bababa;
  font-weight: 400;
  line-height: 28px;
}

.footer-hours .fh-right {
  position: relative;
  color: #fffffe;
  margin-left: 18px;
  display: block;
}

.footer-links li {
  display: inline-block;
  width: 100%;
  padding-bottom: 5px;
}

.footer-links li a::before {
  display: block;
  content: "\f0da";
  float: left;
  margin-right: 10px;
  color: #bababa;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
}

.footer-aff .footer-affiliations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.footer-aff .footer-aff-single {
  max-width: 30%;
  padding: 4px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  background: white;
  margin-bottom: 10px;
  margin-right: 10px;
}

.footer-aff .footer-aff-single img {
  height: 85px;
  width: 100%;
}

.footer-bottom {
  background-color: #171717;
  padding: 20px 0;
}

.footer-bottom a,
.footer-bottom p {
  color: #bababa;
}

.fb-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fb-left ul li {
  padding: 0 10px;
}

.fb-right a {
  color: white !important;
}

.inner-breadcrumb {
  height: 40vh;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
}

.inner-breadcrumb:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #630000c4;
  z-index: -1;
}

.inner-breadcrumb-text {
  text-transform: uppercase;
}

.inner-breadcrumb-text strong {
  font-size: 21px;
  color: #fff;
  font-weight: 400;
  line-height: 48px;
}

.inner-breadcrumb-text h2 {
  font-size: 60px;
  line-height: 62px;
  color: #fff;
  margin-bottom: 35px;
}

.inner-breadcrumb-text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inner-breadcrumb-text ul li {
  padding: 0 15px;
  color: white;
  font-weight: 600;
}

.inner-breadcrumb-text ul li a {
  color: #eaeaea;
}

.inner-breadcrumb-text ul li a i {
  color: #049343;
}

.inner-breadcrumb-text ul .bread-link {
  position: relative;
}

.inner-breadcrumb-text ul .bread-link:after {
  position: absolute;
  content: ">";
  margin-left: 10px;
}

.inner-why-choose-text {
  margin-bottom: 60px;
}

.inner-about-us-mission {
  margin-bottom: 150px;
}

.inner-about-us-vismis .sec-title {
  margin-bottom: 20px;
}

.inner-about-us-vismis .sec-title p,
.inner-about-us-vismis .sec-title h2 {
  text-align: left;
}

.inner-about-us-vismis p {
  font-size: 16px;
  line-height: 2;
  text-align: initial;
}

.inner-about-us-vismis ul {
  margin-top: 30px;
}

.inner-about-us-vismis ul li {
  padding-left: 25px;
  padding-bottom: 15px;
  position: relative;
  font-size: 15px;
  font-weight: 600;
}

.inner-about-us-vismis ul li::before {
  content: "\f058";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  left: 0;
  color: #049343;
}

.inner-about-us-vismis-img img {
  height: 500px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.inner-contact {
  background-color: #f3f3f3;
}

.inner-contact .sec-title {
  text-align: center;
}

.inner-contact-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner-contact-single:hover .ics-icon i {
  color: #fff;
  background: #7c201c;
}

.ics-icon i {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 30px;
  color: #7c201c;
  width: 70px;
  height: 70px;
  line-height: 66px;
  border: 2px solid #7c201c;
  border-radius: 50%;
  text-align: center;
}

.ics-text {
  margin-left: 15px;
}

.ics-text span {
  font-size: 15px;
}

.ics-text span::after {
  content: ":";
  margin-left: 3px;
}

.ics-text h4 {
  margin-top: 5px;
  font-size: 18px;
}

.inner-contact-form-map {
  margin-top: 60px;
}

.inner-contact-form {
  background-color: white;
  margin: 40px 0;
  padding: 40px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 12px 3px rgba(12, 12, 12, 0.15);
          box-shadow: 0px 5px 12px 3px rgba(12, 12, 12, 0.15);
}

.inner-contact-form h2 {
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.inner-contact-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.inner-contact-form label {
  font-weight: 600;
  margin-bottom: 0 !important;
}

.inner-contact-form label span {
  color: #7c201c;
}

.inner-contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  resize: vertical;
}

.inner-contact-form input[type="submit"] {
  cursor: pointer;
  font-style: normal;
  color: black;
  border: 2px solid #049343;
  background-color: transparent;
  line-height: 14px;
  padding: 12px 28px;
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  margin-top: 25px;
  width: 40%;
  -webkit-transition: linear 0.4s;
  transition: linear 0.4s;
  padding: 15px 20px;
  border-color: #7c201c;
  background-color: #7c201c;
  color: white;
  margin-bottom: 0;
}

.inner-contact-form input[type="submit"]:hover {
  color: white;
  border-color: #049343;
  background: #049343;
}

.inner-contact-form input[type="submit"]:hover {
  background-color: transparent;
  border-color: #7c201c;
  color: #7c201c;
  cursor: pointer;
}

.inner-contact-form input[type="submit"]:focus {
  outline: none;
}

.icm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner-contact-map {
  width: 100%;
  border: 10px solid white;
}

.inner-contact-branches {
  margin-top: 60px;
}

.inner-contact-branches .main-branches-single {
  margin: 0;
  -webkit-box-shadow: 0px 0px 10px 0px #0000002e;
          box-shadow: 0px 0px 10px 0px #0000002e;
}

.inner-contact-branches .main-branches-single ul {
  padding: 25px 10px;
}

.inner-services-single-left .sec-title {
  margin-bottom: 20px;
}

.issl-text a {
  cursor: pointer;
  font-style: normal;
  color: black;
  border: 2px solid #049343;
  background-color: transparent;
  line-height: 14px;
  padding: 12px 28px;
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  margin-top: 25px;
  border-color: #049343;
  background-color: #049343;
  color: white;
}

.issl-text a:hover {
  color: white;
  border-color: #049343;
  background: #049343;
}

.issl-img img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.issl-table #service-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 60px;
}

.issl-table #service-table .service-title {
  border: 1px solid #306cb4;
}

.issl-table #service-table .service-info {
  border: 1px solid #ddd;
}

.issl-table #service-table th,
.issl-table #service-table td {
  width: 33%;
}

.issl-table #service-table th {
  padding: 15px 0;
  text-align: center;
  background-color: #049343;
  color: white;
}

.issl-table #service-table td {
  padding: 40px 0;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  color: #7c201c;
}

.issl-list {
  margin-top: 60px;
}

.issl-list h4 {
  font-weight: 600;
  padding-bottom: 20px;
  position: relative;
  display: inline-block;
}

.issl-list h4:before {
  content: "";
  position: absolute;
  height: 3px;
  width: 60%;
  background-color: #049343;
  bottom: 15px;
}

.issl-list ul li {
  padding-left: 25px;
  padding-bottom: 15px;
  font-size: 15px;
  position: relative;
}

.issl-list ul li:before {
  content: "\f058";
  position: absolute;
  left: 0;
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
  color: #7c201c;
  font-size: 16px;
}

.issr-mb {
  margin-bottom: 40px;
}

.issr-related h4 {
  line-height: 54px;
  color: #fff;
  font-size: 18px;
  display: inline-block;
  width: 100%;
  background: #049343;
  position: relative;
  padding-left: 18px;
  margin: 0;
}

.issr-related ul {
  background: #f6f6f6;
  list-style: none;
  display: inline-block;
  width: 100%;
  padding-top: 25px;
}

.issr-related ul li {
  display: inline-block;
  width: 100%;
  padding-bottom: 20px;
}

.issr-related ul li a {
  padding-left: 34px;
  display: inline-block;
  width: 100%;
  position: relative;
  color: #222;
  font-weight: 500;
}

.issr-related ul li a:before {
  content: "\f0da";
  position: absolute;
  display: block;
  top: 0;
  left: 20px;
  line-height: inherit;
  color: inherit;
  font-family: "Font Awesome 5 Free";
  font-size: 18px;
  font-weight: 600;
}

.issr-btns {
  background-color: #049343;
  padding: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

.issrbi-bg {
  background-color: #7c201c;
}

.issrb-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.issrb-text {
  color: white;
}

.issrb-icon img {
  height: 50px;
}

.issr-offers img {
  height: 350px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.inner-features-single-left .sec-title {
  margin-bottom: 20px;
}

.ifsl-list {
  margin-top: 60px;
}

.ifsl-list h4 {
  font-weight: 600;
  padding-bottom: 20px;
}

.ifsl-list ul li {
  padding-left: 25px;
  padding-bottom: 15px;
  font-size: 15px;
  position: relative;
}

.ifsl-list ul li:before {
  content: "\f058";
  position: absolute;
  left: 0;
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
  color: #7c201c;
  font-size: 16px;
}

.isfl-img {
  margin-top: 40px;
}

.isfl-img img {
  height: 500px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.ifsr-mb {
  margin-bottom: 40px;
}

.ifsr-related h4 {
  line-height: 54px;
  color: #fff;
  font-size: 18px;
  display: inline-block;
  width: 100%;
  background: #049343;
  position: relative;
  padding-left: 18px;
  margin: 0;
}

.ifsr-related ul {
  background: #f6f6f6;
  list-style: none;
  display: inline-block;
  width: 100%;
  padding-top: 25px;
}

.ifsr-related ul li {
  display: inline-block;
  width: 100%;
  padding-bottom: 20px;
}

.ifsr-related ul li a {
  padding-left: 34px;
  display: inline-block;
  width: 100%;
  position: relative;
  color: #222;
  font-weight: 500;
}

.ifsr-related ul li a:before {
  content: "\f0da";
  position: absolute;
  display: block;
  top: 0;
  left: 20px;
  line-height: inherit;
  color: inherit;
  font-family: "Font Awesome 5 Free";
  font-size: 18px;
  font-weight: 600;
}

.ifsr-btns {
  background-color: #049343;
  padding: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

.ifsrbi-bg {
  background-color: #7c201c;
}

.ifsrb-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ifsrb-text {
  color: white;
}

.ifsrb-icon img {
  height: 50px;
}

.ifsr-offers img {
  height: 350px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.issl-img span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 15px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  position: relative;
  background-color: #c1c1c11c;
  border: 2px solid transparent;
}

.issl-img span img {
  height: 120px;
  width: 120px;
}

.inner-gallery {
  background: #f3f3f3;
}

.inner-gallery-item {
  position: relative;
  margin-bottom: 30px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 6px 0px #bdbdbd73;
          box-shadow: 0px 0px 6px 0px #bdbdbd73;
  padding: 10px;
}

.inner-gallery-item a {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.inner-gallery-item:hover .igi-img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.igi-img {
  overflow: hidden;
  z-index: 10;
}

.igi-img img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  z-index: 5;
}

.igi-text {
  background: white;
  text-align: center;
  padding: 30px 5px 20px;
}

.igi-text h3 {
  font-size: 20px;
}

.inner-gallery-single {
  margin-bottom: 30px;
}

.inner-gallery-single img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.inner-gallery-single #demo {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.inner-gallery-single .thumb {
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
}

.inner-gallery-single .thumb:hover .zoom-icon {
  visibility: visible;
  opacity: 1;
}

.inner-gallery-single .thumb:hover .overlay {
  visibility: visible;
}

.inner-gallery-single img.zoom {
  width: 100%;
  height: 250px;
  border-radius: 2px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.inner-gallery-single .modal-header {
  border-bottom: none;
}

.inner-gallery-single .modal-footer {
  display: none;
}

.inner-gallery-single .zoom-icon {
  position: absolute;
  bottom: auto;
  left: 50%;
  margin: 0;
  max-width: 90%;
  padding: 0;
  right: auto;
  top: 50%;
  z-index: 78;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  background: #7c201c;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  color: white;
}

.inner-gallery-single .overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #0000004f;
  visibility: hidden;
  margin: 0 15px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.inner-our-team-bod {
  margin-bottom: 70px;
}

.inner-our-team-single {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
}

.inner-our-team-single:hover .iots-social li {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.iots-img {
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.iots-img img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.iots-social {
  padding-left: 0;
  list-style-type: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.iots-social li {
  display: inline-block;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  opacity: 0;
  visibility: hidden;
  margin-left: 1px;
  margin-right: 1px;
}

.iots-social li a {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #f4f5fe;
  text-align: center;
  position: relative;
  font-size: 20px;
  color: #049343;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.iots-social li a i {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
}

.iots-social li:nth-child(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.iots-social li:nth-child(2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.iots-social li:nth-child(3) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.iots-social li:nth-child(4) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.iots-text {
  background-color: #7c201c;
  padding: 20px;
}

.iots-text h3 {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 22px;
  color: white;
}

.iots-text span {
  display: block;
  color: #ececec;
  font-size: 14px;
  margin-top: 6px;
  font-weight: 600;
}

.inner-our-team-general .iots-text {
  background-color: #049343;
}

.inner-our-team-general .iots-social a {
  color: #7c201c;
}

.inner-news-content .main-news-single {
  padding: 0;
  margin-bottom: 30px;
}

.insl-top h5 {
  color: #222;
  font-size: 30px;
  margin: 30px 0 20px;
}

.insl-top img {
  height: 450px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.insl-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

.insl-meta span,
.insl-meta strong {
  color: #049343;
}

.insl-meta span i,
.insl-meta strong i {
  margin-right: 5px;
  font-weight: 700;
}

.insl-meta .inslm-date {
  margin-right: 15px;
}

.insl-text p {
  margin-bottom: 10px;
}

.insl-highlight {
  background-color: #f6f6f6;
  border-left: 5px solid #7c201c;
  padding: 30px 40px;
  margin: 40px 0;
}

.insl-highlight p {
  color: #222;
  font-size: 15px;
  font-weight: 600;
}

.insl-tags-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  margin: 20px 0;
}

.insl-tags span {
  font-weight: 400;
}

.insl-tags span i {
  margin-right: 5px;
}

.insl-tags span a {
  color: #222;
  margin: 0 2px;
}

.insl-share ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.insl-share ul li {
  font-weight: 400;
  line-height: 2em;
  font-size: 15px;
  padding: 0 5px;
}

.insl-share ul li i {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  font-size: 15px;
  text-align: center;
  line-height: 33px;
  background: #f5f8f9;
  color: #222;
  border: 1px solid transparent;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.insl-share ul li i:hover {
  color: white;
}

.insl-share ul li i.fab.fa-facebook-f:hover {
  background-color: #4267b2;
}

.insl-share ul li i.fab.fa-twitter:hover {
  background-color: #55acee;
}

.insl-share ul li i.fab.fa-instagram:hover {
  background-color: #cc377b;
}

.insl-share ul li i.fab.fa-youtube:hover {
  background-color: #db1f27;
}

.insl-comments-display {
  margin-top: 10px;
}

.insl-comments-display h4 {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.inslcd-single {
  margin-bottom: 20px;
}

.inslcd-single .comm-user {
  color: #7c201c;
  font-weight: 600;
  margin-right: 20px;
  font-size: 15px;
  position: relative;
  padding-left: 25px;
}

.inslcd-single .comm-user::before {
  content: "\f2bd";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  left: 0;
  font-size: 18px;
}

.inslcd-single .comm-date {
  color: #777;
  font-size: 14px;
}

.inslcd-single p {
  margin: 10px 0;
  color: #777;
}

.insl-comments-form {
  margin-top: 40px;
}

.insl-comments-form h4 {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.insl-comments-name {
  margin-right: 20px !important;
}

.insl-comments-name,
.insl-comments-email {
  display: inline-block;
  width: 48%;
}

.insl-item {
  margin: 10px 0 20px;
}

.insl-item label {
  display: block;
  color: #2b2b2b;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.insl-item input,
.insl-item textarea {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 14px 12px;
  background-color: #f9f7f6;
}

.insl-comments-submit input {
  margin-top: 20px;
  cursor: pointer;
  font-style: normal;
  color: black;
  border: 2px solid #049343;
  background-color: transparent;
  line-height: 14px;
  padding: 12px 28px;
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  margin-top: 25px;
  background-color: #7c201c;
  border-color: #7c201c;
  color: white;
}

.insl-comments-submit input:hover {
  color: white;
  border-color: #049343;
  background: #049343;
}

.insr-item {
  padding: 30px 25px;
  margin-bottom: 30px;
  background: #fbf9ff;
}

.inner-news-single-search input[type="text"] {
  border: 2px solid #049343;
  width: 80%;
  padding: 15px 22px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.025em;
  color: #151515;
  background-color: #efefef;
}

.inner-news-single-search button {
  position: absolute;
  width: 15%;
  background: #049343;
  color: white;
  border: 2px solid #049343;
  border-left: none;
  cursor: pointer;
  padding: 18px 20px;
  font-size: 14px;
  line-height: 1.34;
}

.inner-news-single-related h5 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 40px;
  color: #049343;
}

.insr-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0 25px;
  border: 1px solid #e2e2e2;
}

.insr-single-img img {
  height: 90px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.insr-single-info {
  padding: 0 5px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.insr-single-info-text h3 {
  line-height: 0.5;
  margin-bottom: 15px;
}

.insr-single-info-text h3 a {
  color: #222;
  font-size: 13px;
  position: initial;
}

.insr-single-info-text span {
  font-weight: 600;
  position: relative;
  font-size: 12px;
  padding-left: 15px;
  color: #049343;
}

.insr-single-info-text span::before {
  content: "\f073";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  position: absolute;
  left: 0;
}

.inner-news-single-advert img {
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */